{% extends 'layout.html' %}

{% block title %}Accueil{% endblock title %}

{% block content %}
  <div class="py-12 px-4">
    <h2 class="text-center font-semibold text-2xl">Nos membres</h2>

    <div class="mt-4 flex flex-wrap -mx-4 justify-center items-center">
      <div class="member-card">
        <img src="https://i.pravatar.cc/250?img=16" alt="" class="w-full object-cover object-center">
        <a href="#">
          <span class="block mt-4 font-semibold text-xl">N'deye Anta Diop</span>
        </a>
        <span class="block text-sm text-gray-700">Full Stack Web Developer</span>
        <ul class="mt-3 flex">
          <li>
            <a href="#">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fas fa-globe-africa"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="member-card">
        <img src="https://i.pravatar.cc/250?img=49" alt="" class="w-full object-cover object-center">
        <a href="#">
          <span class="block mt-4 font-semibold text-xl">Aissatou Lamarana Diallo</span>
        </a>
        <span class="block text-sm text-gray-700">Front End Developer</span>
        <ul class="mt-3 flex">
          <li>
            <a href="#">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fas fa-globe-africa"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="member-card">
        <img src="https://i.pravatar.cc/250?img=51" alt="" class="w-full object-cover object-center">
        <a href="#">
          <span class="block mt-4 font-semibold text-xl">Ibrahima Sory Camara</span>
        </a>
        <span class="block text-sm text-gray-700">PHP / Symfony Developer</span>
        <ul class="mt-3 flex">
          <li>
            <a href="#">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fas fa-globe-africa"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="member-card">
        <img src="https://i.pravatar.cc/250?img=64" alt="" class="w-full object-cover object-center">
        <a href="#">
          <span class="block mt-4 font-semibold text-xl">Pape Serigne Sow</span>
        </a>
        <span class="block text-sm text-gray-700">Senior Software Engineer</span>
        <ul class="mt-3 flex">
          <li>
            <a href="#">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="ml-3">
            <a href="#">
              <i class="fas fa-globe-africa"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="py-12 px-4 text-white bg-green-900">
    <h2 class="text-center font-semibold text-2xl">Rejoins-nous maintenant</h2>

    {% if messages %}
      {% for message in messages %}
        <span class="block text-center text-xl">{{ message }}</span>
      {% endfor %}
    {% endif %}

    <form action="/" method="post" class="join-form mt-8 m-auto" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="">
        <label for="" class="block mb-2 text-lg">Une image de toi</label>
        {{ form.picture }}
        <span class="text-sm text-red-600">
          {{ form.picture.errors }}
        </span>
      </div>
      <div class="mt-4">
        {{ form.full_name }}
        <span class="text-sm text-red-600">
          {{ form.full_name.errors }}
        </span>
      </div>
      <div class="mt-4">
        {{ form.email }}
        <span class="text-sm text-red-600">
          {{ form.email.errors }}
        </span>
      </div>
      <div class="mt-4">
        {{ form.title }}
        <span class="text-sm text-red-600">
          {{ form.title.errors }}
        </span>
      </div>
      <div class="mt-4">
        {{ form.city }}
        <span class="text-sm text-red-600">
          {{ form.city.errors }}
        </span>
      </div>
      <div class="flex justify-between -mx-1">
        <div class="mt-4 w-1/2 mx-1">
          {{ form.github }}
          <span class="text-sm text-red-600">
            {{ form.github.errors }}
          </span>
        </div>
        <div class="mt-4 w-1/2 mx-1">
          {{ form.facebook }}
          <span class="text-sm text-red-600">
            {{ form.facebook.errors }}
          </span>
        </div>
      </div>
      <div class="flex justify-between -mx-1">
        <div class="mt-4 w-1/2 mx-1">
          {{ form.twitter }}
          <span class="text-sm text-red-600">
            {{ form.twitter.errors }}
          </span>
        </div>
        <div class="mt-4 w-1/2 mx-1">
          {{ form.linkedin }}
          <span class="text-sm text-red-600">
            {{ form.linkedin.errors }}
          </span>
        </div>
      </div>
      <div class="flex justify-between -mx-1">
        <div class="mt-4 w-1/2 mx-1">
          {{ form.instagram }}
          <span class="text-sm text-red-600">
            {{ form.instagram.errors }}
          </span>
        </div>
        <div class="mt-4 w-1/2 mx-1">
          {{ form.website }}
            <span class="text-sm text-red-600">
            {{ form.website.errors }}
          </span>
        </div>
      </div>
      <div class="mt-4">
        {{ form.bio }}
        <span class="text-sm text-red-600">
          {{ form.bio.errors }}
        </span>
      </div>
      <div class="mt-4">
        <input type="submit" value="Valider" class="bg-gray-900 p-3 cursor-pointer w-full">
      </div>
    </form>
  </div>
{% endblock content %}